.mainContent{
  img{
    max-height: 400px;
    width:  100%;
  }
}
.infoArticle{
  margin: 3.5rem 0;
  h1{
    font-size: 3rem;
    font-weight: 700;
  }
}

.contentArticle{
  div{
    margin: 2rem 0;
    p{
      display: block;
      margin: 1rem 0;
    }

  }

}
.navegation{
  width: 100%;
  display: flex;
  justify-content: space-between;

  a{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;


    span{
      display: block;
      margin:  0.5rem  0;
    }
    &:hover{
      border: 1px solid var(--Highlight);
    }
  }
}

.linkTitle{
  color: var(--Highlight);
}

